Options +FollowSymLinks

<IfModule mod_rewrite.c>
	RewriteEngine On
	  #RewriteCond %{HTTP_HOST} !^www\..+$ [NC]
#RewriteRule . http://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
# uncomment the above 2 lines, and adjust to RewriteBase /  for stuff on server
	# RewriteBase /
	RewriteBase /chamsoft-website/

	<Files .*>
		Order Deny,Allow
		Deny From All
	</Files>

	# Allow asset folders through
	RewriteRule ^(fuel/modules/(.+)?/assets/(.+)) - [L]

	# Protect application and system files from being viewed
	RewriteRule ^(fuel/install/.+|fuel/crons/.+|fuel/data_backup/.+|fuel/codeigniter/.+|fuel/modules/.+|fuel/application/.+) - [F,L]


	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule .* index.php/$0 [L]
	
	# Prevents access to dot files (.git, .htaccess) - security.
	RewriteCond %{SCRIPT_FILENAME} -d
	RewriteCond %{SCRIPT_FILENAME} -f
	RewriteRule "(^|/)\." - [F]
	
</IfModule>
Options -Indexes